@tailwind base;
@tailwind components;
@tailwind utilities;

  pre {
    background-color: #dad4ce;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
    white-space: pre-wrap; /* Ensure long lines wrap */
    word-wrap: break-word; /* Prevent horizontal scrolling */
  }
  
  code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #181719; 
  }

  ::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(133, 131, 131);
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; 
  }

  .rotate-animation {
    animation: spinAnimation 2s linear infinite
  }
  
  @keyframes spinAnimation {
    from {
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }